#scoresheet {
	font-family: 'Kalam', cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h3 {
		font-size: 1em;
		font-weight: 300;
		margin: 0px;
		padding: 6px;
		white-space: nowrap;
	}

	h2 {
		color: #888;
		font-size: 1.2em;
		font-weight: 800;
	}

	.smallFont {
		font-size: 0.75em !important;
		font-weight: 400;
	}
}
